body {
  background: #f06d06;
  min-height: 100vh;
  display: flex;
}

.align-vert {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  display: flex;
  background: white;
  align-self: center;
  justify-self: center;
}

h1 {
  color: navy;
  margin-left: 20px;
}
