@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #111827;
  --spot: #030712;
  --subtle: #374151;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #f4f4f5;
    --spot: #fafafa;
    --subtle: #d4d4d8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.animated-expand {
  width: 0; /* Initial width set to 0 */
  animation: expand-from-centre 1s forwards;
  animation-fill-mode: forwards;
}

.animate-fade-in {
  opacity: 0;
  animation: fade-in 3s forwards;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
